/* Navbar & Logo */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Raleway', sans-serif;
     }  

h2 {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
}    

ul {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

.logo {
    float: left;
    font-size: 280%;
    text-transform: uppercase;
}

.logo,
#menu {
    line-height: 75px;
}

nav li {
    float: right;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}


/* hero image */

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    background: url(../images/hero-image-3.webp) no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);
    
    top: 150px;
    left: 150px;
    position: absolute;
}

/* social links */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}