/* Navbar & Logo */


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgba(187, 154, 6, .7);
 
     }  


/* Navbar */

.navbar-brand {
    color: #BB0627;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

nav a:hover {
    border-bottom: 4px solid #BB0627;
    color: #BB0627;
}


.navbar-custom {
    background-color: rgba(187, 154, 6, .7);
}

.nav-item {
    color: #BB0627;
    float: right;
}

.navbar .navbar-brand {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    border: 4px solid #BB0627;
}

.navbar-nav .nav-item {
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
 


/* hero image */

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 0;
}

#hero-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: 100%;
    background: url(../images/hero-image-3.webp) no-repeat center center;
    background-size: cover;
    background-position: center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 380px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(187, 6, 39, .7);
    
    top: 150px;
    left: 150px;
    position: absolute;
}

    #workout-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
}

#workout-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 100%;
    background: url(../images/dumbbell-image-2.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
}

/* Quotes */
.feature {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Orbitron', sans-serif;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
    color: #BB0627;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}

.text-uppercase {
    text-align: center;
    color: #BB0627;
    padding-top: 30px;
    font-family: 'Raleway' sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.feature h3 {
    color: #BB0627;
}

.feature p {
    color: #000;
    font-family: 'Raleway' sans-serif;
}




/* Quotes */
/* workouts */

#workouts {
    background-color: rgba(187, 154, 6, .7);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#workouts div {
    color: #ffffff;
;
    background-color: rgba(187, 6, 39, 12);
    width: 19%;
    height: 600px;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    padding:  30px 0 0 10px;
    text-align: center;
    line-height: 25px;
}

#workouts div h2 {
    color: #ffffff;
}

#workouts div h4 {
    font-family: 'Orbitron', sans-serif;
}

.workout-day {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5px;
}

/* social links */


.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #BB0627;
}

/*media queries*/


